/*style.css*/

/* attributes for the login page */
.login{
    -fx-alignment: center;
}
.login .label{
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-size : 1.2em;
    -fx-label-padding: 10% 0 10% ;
}
.login .text-field{
    -fx-max-width :80;
    -fx-padding: 1330%;
    -fx-min-width: 200;
    -fx-font-size : 1.4em;
}
.login .button{
    -fx-max-width :80;
    -fx-padding: 1330%;
    -fx-min-width: 200;
}

.login-container {
    -fx-alignment: center;
}
.login-heading{
    -fx-text-alignment: center;
    -fx-end-margin: 500;
}
.login-grid{
    -fx-padding: -50;
}
.hyperlink{
    -fx-text-alignment: center;
    -fx-end-margin: 580px;
}
/*sign in page*/
.sign {
    -fx-alignment: center;
}.sign .label{
     -fx-font-weight: bold;
     -fx-alignment: center;
     -fx-font-size : 1.4em;
     -fx-label-padding: 10% 0 10% ;
 }
.sign-grid{
    -fx-padding:-90 ;

}
.sign .text-field{
    -fx-padding: 1330% 0 1330% 0;
    -fx-max-width: 80;
    -fx-min-width: 200;
    -fx-font-size:1.5em;

}
.sign .button{
    -fx-padding: 1330%;
    -fx-max-width: 80;
    -fx-min-width: 200;

}
.error{
}
.sign.feedback
{
    -fx-font-size: 0.6em;
}
.Hbox{
    -fx-alignment: center;
}
.password{
    -fx-alignment: center;
}
.welcomeLabel{
    -fx-alignment: center;
    -fx-font-weight:bold;
}
#scroll{
    /*-fx-background-color: blue;*/
    -fx--color: blue;
    -fx-alignment: center;
}
#weightChart{
    fx-alignment: center;
    /*-fx-background-color: blue;*/
}
#grid{
    -fx-font-weight:bold;
    -fx-alignment: center;
}